body{
    background: url(https://cdn.pixabay.com/photo/2019/09/10/22/05/mountains-4467436_1280.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(0.5px);
}

header{
    background: url(https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
}

/*menu*/

.logo{
    width: 150px;
    margin: 10px;
    border-radius: 2em;
    border: 2px solid black;
}

.imagen{
    display: none;
}

.abrir-menu,.cerrar-menu{
    display: none;
}

@media screen and (max-width:811px) {
    header{
        justify-content: space-between;
    }

    .logo{
        display: inline;
        width: 100px;
        margin: 10px;
        border-radius: 2em;
    }

    .imagen{
        display: inline;
        width: 150px;
        margin: 10px;
        border-radius: 2em;
    }
    
    .imagen{
        display: none;
    }

    .abrir-menu,.cerrar-menu{
        display: block;
        margin-right: 10px;
        background: brown;
    } 
    
    .no_ver{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    } 

   .no_ver.visible{
    opacity: 1;
    visibility: visible;
   }

   .abrir-menu.ocultar{
    visibility: hidden;
   }

   .sacar{
    flex-direction: column;
    align-items: end;
   }
}


@media screen and (max-width:500px) {
    body{
        background: url(https://cdn.pixabay.com/photo/2023/05/07/09/59/mountains-7976041_1280.jpg);
        background-repeat: no-repeat;
        background-size:150%;
    }
}

@media screen and (max-width:465px) {
    .logo.ver{
        visibility: hidden;
    }

    .imagen{
        display: inline;
        border: 2px solid black;
    }
}

@media screen and (max-width:355px) {
    
    .no_ver{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 0rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    } 

    .logo.ver{
        visibility: hidden;
    }

    .color{
        color: aliceblue;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        border:2px solid black;
        border-radius: 3px;
        padding: 2px;
    }
    
    .color:hover{
        color: aliceblue;
        background: black;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 3px;
        padding: 4px;
    } 
  
}

/*estilos*/

 .no_ver{
    margin: auto;
}

.sacar{
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-right: 10px;
}

.espacio{
    margin-left: 200px;
}

@media screen and (max-width:1120px) {
    .espacio{
        margin-left: 100px;
    }
}

@media screen and (max-width:920px) {
    .espacio{
        margin-left: 50px;
    }
}

.bord{ 
    margin-top: 10px;
    font-size: 1.4em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 0px;
}

.bord:hover{ 
    border: 2px solid black;
    border-radius: 3px;
    padding: 0px;
}

.color{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    border:2px solid black;
    border-radius: 3px;
    padding: 4px;
    background-color: rgba(154, 152, 152, 0.608);
}

.color:hover{
    color: aliceblue;
    background: rgba(0, 0, 0, 0.608);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 4px;
} 